body {
  font-family: 'Overpass', sans-serif;
}

.card-title, .card-content, .card-ratings {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  margin-left: 8px;
  margin-right: 8px;
}

.card {
  background: linear-gradient(180deg, rgba(36,41,52,1) 0%, rgba(24,30,39,1) 100%);
  width: 80%;
  min-width: 240px;
  max-width: 420px;
  margin: 200px 0;
  border-radius: 32px;
  padding-top: 32px;
  padding-left: 36px;
  padding-right: 36px;
  padding-bottom: 40px;
}

.card-star {
  background-color: rgba(128, 128, 128, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
     color:#fc7612;
     font-size: 12px;
  }
}

.card-title {
  margin-top: 20px;
  h1 {
    color: white;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 0px;
  }
}

.card-content {
  p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    line-height: 20px;
  }
}

.card-ratings {
  ul {
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-inline-start: 0px;
    margin-bottom: 24px;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgba(255, 255, 255, 0.6);
      list-style-type:none;
      padding-inline-start: 0px;
      background-color: rgba(128, 128, 128, 0.1);
      width: 48px;
      height: 48px;
      border-radius: 48px;
      font-size: 12px;
    }
  }
}

.btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  .cta {
    background-color: #fc7612;
    // height: 40px;
    width: 100%;
    padding: 12px 24px;
    border-radius: 24px;
    color: white;
    text-align: center;
    text-transform: uppercase;
  }
}
